--extra-index-url https://download.pytorch.org/whl/cu124

# faiss-cpu
faiss-gpu
torch
torchvision
matplotlib
pillow
pretrainedmodels
scikit-image
scikit-learn
scipy
tqdm
timm
numpy
opencv-python
loguru
pytest
mlflow==2.3.2
setuptools==69.5.1
google-cloud-storage
protobuf==4.25.8